{% load static %}
<link rel="stylesheet" href="{% static 'css/post_study.css' %}">
<section class="variant">
    <h1>Обучение</h1>
    <h2>Вам нужен достойный результат? Я знаю, как его достичь!<br> Все мои ученики в 2020 году получили желаемые оценки в школе и ВУЗе.</h2>
    <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="../../static/img/pic1.png" width="300px" height="250px" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Подготовка к ЕГЭ, ОГЭ и поступлению в ВУЗ</p>
        <a href="#" class="btn">Подробнее</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../static/img/pic2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Работа со школьниками начальных классов</p>
        <a href="#" class="btn">Подробнее</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../static/img/pic3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Работа со студентами, расширенный курс</p>
        <a href="#" class="btn">Записаться</a>
      </div>
    </div>
  </div>
  </section>