h1 a {
    color: #FCA205;
    font-family: Lobster;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
}




.date {
    color: black;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: black;
}

.about{
    height: 1150px;
    background-color: black;
    padding-top: 150px;
    margin: 0;
}
.about h1 {
    color: #ffffff;
    font-size: 30px;
    font-family: Noto Sans;
    text-align: center;
    padding-top: 50px;
    text-align: left;
}
.about p{
    color: white;
    font-size: 25px;
    font-family: Noto Sans;
    text-align: center;
    padding-top: 50px;
    width: 600px;
    text-align: left;
}
.about img {
    margin-left: 19%;
}
header{
    background-image: url(../img/picture.jpg);
    background-size: contain;
    background-position: center;
    margin: 0;
    height: 900px;
    display: block;
    padding: 0;
    width: 100%;
}
header p {
    font-size: 25px;
    color: #ffffff;
    padding-top: 20px;
    text-align: start;
    padding-left: 20px;
}
.text {
    width: 500px;
    text-align:center;
}

.column {
    float:left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.arrow-down {
    margin-left: 50%;
    margin-top: 3%;
}
.arrow-down span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -19px;
    animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
#p1 {
    text-align: center;
    padding: 0%;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    margin-top: 12%;
    color: #0085FF;
}
.variant {
    height: 1250px;
    background-image: url(../img/back3.jpg);
    background-size: cover;
    font-family: Noto Sans;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    margin: 7%;

}
.variant h1{
    font-size: 50px;
    color: #0085FF;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
    margin: 0;
}
.card p{
    color: white;
}
.card-text {
    color: white;
    margin-top: 15%;
    font-family: Noto Sans;
    font-size: 18px;

}
.variant h2 {
    color: white;
    font-size: 25px;
    text-align: center;
}
.variant h2{
    text-align: center;
    line-height: normal;
    padding: 2%;
    margin-top: 5%;
}
.btn {
    background-color: #0085FF;
    margin-top: 15%;
    width: 175px;
    border-radius: 50px;
    color: white;
    font-family: Noto Sans;
    font-size: 15px;
    text-align: center;
}
.photo{
    height: 1200px;
    background-image: url(../img/back5.png);
    background-size: contain;
}
.photo h1{
    font-size: 50px;
    color: #0085FF;
    font-family: Noto Sans;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    margin: 0;
}
.photo h2{
    text-align: center;
    line-height: normal;
    padding: 2%;
    margin-top: 5%;
    color: white;
}
.price{
    height: 1000px;
    background-color: black;
}
.price h1 {
    font-size: 50px;
    color: #0085FF;
    text-align: center;
    padding-top: 100px;
    margin: 0%;
}


.photo p{
    color: black;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 20px;
}
.photo .card{
    background-color: white;
    width: 280px;
    height: 170px;
    margin-top: 100px;
    border-style: solid;
    border-color: #0085FF;
}
.photo .btn{
    margin-left: 18%;
    margin-right: 15%;
    margin-top: 2%;
}
.contact{
    height: 395.3px;
    background-color: black;

}
.contact img{
    float: right;
    width: 60%;
}
.contact h1{
    text-align: center;
    font-size: 40px;
    color: #0085FF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 100px;
    margin: 0%;
}
.contact p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}